﻿@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Cft Estatal de Arica y Parinacota</h1>
    <img src="~/css/cft.png" />
    <p><b>Registros</p></b>
    <p><a class="btn btn-primary" href="http://localhost:5193/Estudiantes">Estudiantes</a></p>
    <p><a class="btn btn-primary" href="http://localhost:5193/Asignaturas">Asignaturas</a></p>
</div>